@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@500&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Golos Text', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(64, 145, 108);
  color: rgba(2, 4, 15, 0.9);
}

main {
  width: 350px;
  height: 350px;
  background-color: rgb(237, 242, 244);
  border-radius: 10px;
  border: 5px solid black;
}

.div1 {
  /*background-color: blueviolet;*/
  margin-top: 20px;
  margin-left: 20px;
}

strong {
  font-size: 20px;
}

label {
  font-size: 18px;
}

#nasci {
  width: 80px;
  height: 30px;
  font-size: 15px;
  text-align: center;
  background-color: rgb(220, 225, 222);
}

.div2 {
  margin-top: 15px;
  margin-left: 20px;
}

input {
  margin-left: 10px;
  border-radius: 5px;
}

button {
  margin-top: 10px;
  margin-left: 20px;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  background-color: rgb(73, 160, 120);
  margin-bottom: 10px;
}

#res {
  display: inline-block;
  width: 200px;
  /*background-color: crimson;*/
  text-align: center;
  transform: translateY(10px);
  font-size: 15px;
}

img {
  display: none;
  margin: auto;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 5px solid black;
}
